# .gitignore file rules #
# from https://git-scm.com/book/en/v2/Git-Basics-Recording-Changes-to-the-Repository #
#
# The rules for the patterns you can put in the .gitignore file are as follows:
# - Blank lines or lines starting with # are ignored.
# - Standard glob patterns work, and will be applied recursively throughout the entire working tree.
# - You can start patterns with a forward slash (/) to avoid recursivity.
# - You can end patterns with a forward slash (/) to specify a directory.
# - You can negate a pattern by starting it with an exclamation point (!).
#
# Glob patterns are like simplified regular expressions that shells use. An asterisk (*) matches zero or more characters; [abc] matches any character inside the brackets (in this case a, b, or c); a question mark (?) matches a single character; and brackets enclosing characters separated by a hyphen ([0-9]) matches any character between them (in this case 0 through 9). You can also use two asterisks to match nested directories; a/**/z would match a/z, a/b/z, a/b/c/z, and so on.

## files ##
# temp tilde files
*~

## private folders ##
private/

## Visual Studio Code settings
.vscode/

## svlint configuration
.svlint.toml

## jekyll files ##
# folder in which the processed site is put
_site/
# install path for bundled gems
vendor/
# bundle config directory 
.bundle/

## modelsim ##
[_@]*
work/

# ignore Modelsim compilation output
*.mti
*.dat
*.dbs
*.psm
*.bak
*.cmp
*.jpg
*.html
*.bsf

# ignore Modelsim simulation output
wlf*
*.wlf
*.vstf
*.ucdb
cov*/
transcript*
sc_dpiheader.h
vsim.dbg

# ignore Verilator compilation output
**/obj_dir